{% block content%}
<head>
<title>Invalid Credentials</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nucleus.css' %}" />
<link rel="stylesheet" href="{% static 'css/w3.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
</head>
<header>
<nav class="nav">
<div class="w3-bar" style="height:40px;position:absolute"></div>
</nav>
</header>
<body style="height:100%;overflow:hidden">
<img src="{% static 'img/ncs_logo.png' %}" style="position:absolute;left:41%;top:100px">
<footer>
COPYRIGHT &copy; 2020 <a href="https://www.ncs.com.sg">NCS</a> PTE LTD. ALL RIGHTS RESERVED.
</footer>
</body>
{% endblock %}
{% block javascripts %}
<script src="{% static 'js/custom_alert.js' %}"></script>
<script>swal({title:"Invalid Credentials",icon:"error",button:"Home"}).then(function(){window.location.href="/"});</script>
{% endblock javascripts %}