{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Cisco SD-WAN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nucleus.css' %}" />
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
</head>

<header>
    <nav class="nav" style="position: fixed; z-index: 3; width: 100%">
        <div class="w3-bar">
            <a href="/platform" class="w3-bar-item w3-button w3-black menu_button w3-hover-blue-gray">Home</a>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-hover-blue-gray" style="color: white;">{{ request.user }} &#9662;</button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                    <a href="/logout" class="w3-bar-item w3-button w3-hover-blue-gray">Logout</a>
                </div>
            </div>
        </div>
        <div class="w3-bar w3-black sub_nav">
            <a href="/user_dashboard" class="w3-bar-item w3-button w3-black
                menu_button w3-hover-blue-gray">User Dashboard</a>
            <a href="/automation_modules" class="w3-bar-item w3-button w3-black
                menu_button w3-hover-blue-gray">Automation Modules</a>
            <div class="w3-bar-item w3-white menu_button">Cisco SD-WAN</div>
        </div>
    </nav>
</header>


<body>
    <!-- Sidebar/menu -->
    <nav id="mySidebar" class="w3-sidebar w3-top w3-large w3-padding"
          style="z-index:3;background-color: #006672;color: white;width:288px;font-weight:bold; display: none"><br>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b>Network Automation</b></h3>
        </div>
        <div class="w3-bar-block">
            <a href="/platform" class="w3-bar-item w3-button w3-hover-blue-grey" style="font-size: 17px">
                Home
            </a>
            <a href="/user_dashboard" class="w3-bar-item w3-button w3-hover-blue-grey" style="font-size: 17px">
                User Dashboard
            </a>
            <a href="/automation_modules" class="w3-bar-item w3-button w3-hover-blue-grey" style="font-size: 17px">
                Automation Modules
            </a>
            <div class="w3-bar-item w3-button w3-hover-blue-grey" style="font-size: 17px;
                background-color: #065972">
                Cisco SD-WAN
            </div>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-hover-blue-gray" style="color: white">{{ request.user }} &#9662;</button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0; font-weight: normal">
                    <a href="/logout" class="w3-bar-item w3-button w3-hover-blue-gray">Logout</a>
                </div>
            </div>
        </div>
        <button class="button w3-bar-item w3-hover-blue-grey"
                style="position: absolute; bottom: 20px; right: 20px" onclick="sidebar_close()">Close &nbsp; &times;
        </button>
    </nav>
    <button id="SideBarButton" class="button"
            style="position: fixed;left: 0;top: 53%; width: 30px;
            border-top-left-radius: 0; border-bottom-left-radius: 0" onclick="sidebar_open()">
        &#9776;
    </button>
    <div class="w3-container" style="position: absolute; top:120px; left: 60px" id="heading">
        <h1 class="w3-xxlarge w3-text-black"><b>Cisco SD-WAN</b></h1>
        <hr style="width:50px;border:5px solid #006672" class="w3-round">
        <p>There are five steps to automate Cisco SD-WAN configuration management.</p>
        <ol>
            <li>Choose an option from Cisco SD-WAN menu under Cisco SD-WAN to perform a config change</li>
            <li>Download Config Template which is a spreadsheet to fill in Engineering data</li>
            <li>Upload the Template which was downloaded in step 2 with the required Config changes</li>
            <li>Enter Cisco SD-WAN System Credentials and click Execute</li>
            <li>Verify the Results</li>
        </ol>
        <br>
        <h3 class="w3-text-black"><b>1. Cisco SD-WAN Menu</b></h3>
        <div class="w3-dropdown-click">
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-blue-grey"
               style="border-radius: 5px; position: absolute; left: 30px; top: -20px"
               onclick="drop_menu('sdwan_menu')">Cisco SD-WAN &#9662;
            </a>
            <div class="w3-dropdown-content w3-bar-block w3-card-4"
                 style="top:0px; left:100%; width: 250px" id="sdwan_menu">
                <div class="w3-dropdown-hover">
                    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-blue-grey"
                       onclick="drop_menu('feature_template_menu')">Create Feature Template &#9656;
                    </a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4" id="feature_template_menu"
                         style="top:0px; left:100%; width: max-content">
                        <a href="javascript:selected_option('1.1')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            AAA</a>
                        <a href="javascript:selected_option('1.2')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            BFD</a>
                        <a href="javascript:selected_option('1.3')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            NTP</a>
                        <a href="javascript:selected_option('1.4')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            OMP</a>
                        <a href="javascript:selected_option('1.5')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Security</a>
                        <a href="javascript:selected_option('1.6')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            System</a>
                        <a href="javascript:selected_option('1.7')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            VPN</a>
                        <a href="javascript:selected_option('1.8')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            VPN Interface</a>
                        <a href="javascript:selected_option('1.9')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Banner</a>
                        <a href="javascript:selected_option('1.10')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Logging</a>
                        <a href="javascript:selected_option('1.11')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            OSPF</a>
                        <a href="javascript:selected_option('1.12')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            SNMP</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-blue-grey"
                       onclick="drop_menu('device_template_menu')">Create Device Template &#9656;
                    </a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4" id="device_template_menu"
                         style="top:0px; left:100%; width: max-content">
                        <a href="javascript:selected_option('2.1')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Device Template</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-blue-grey"
                       onclick="drop_menu('delete_template_menu')">Delete Template &#9656;
                    </a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4" id="delete_template_menu"
                         style="top:0px; left:100%; width: max-content">
                        <a href="javascript:selected_option('3.1')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Delete Feature Template</a>
                        <a href="javascript:selected_option('3.2')" class="w3-bar-item w3-button w3-hover-blue-grey">
                            Delete Device Template</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: inline-flex">
            <h5 style="position:relative;left: 200px; top: 5px">Menu Option:</h5>
            <input readonly class="input_value" id="menu_option" name="menu_option" type="text" title=""
                   style="position: relative; left: 220px"/>
        </div>
        <br><br><br>
        <h3 class="w3-text-black"><b>2. Download Template</b></h3>
        <h5 style="position: relative; left: 30px; top: 10px">
            Download Cisco SD-WAN Deployment Template
        </h5><br>
        <a href="/download_template/sdwan">
            <button class="button" style="width: 100px; position: relative; left: 30px">Download</button>
        </a>
        <br><br><br>
        <h3 class="w3-text-black"><b>3. Upload Template</b></h3>
        <h5 style="position: relative; left: 30px; top: 10px">Upload Cisco SD-WAN Engineering Deployment Data</h5>
        <input style="position: relative; left: 30px; top: 17px; width: 400px" id="uploaded_file" name="uploaded_file"
               type=file accept=".xls, .xlsx" required onchange="get_template_name()"/>
        <br><br><br><br>
        <h3 class="w3-text-black"><b>4. Execute</b></h3>
        <h5 style="position: relative; left: 28px; top: 10px">vManage Host IP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="host_ip" name="host_ip" maxlength="15" class="input_value" required/></h5>
        <h5 style="position: relative;  left: 30px; top: 5px">vManage User Name:
            <input type="text" id="vmanage_username" name="vmanage_username" class="input_value" required/></h5>
        <h5 style="position: relative;  left: 30px; top: 1px">vManage Password:&nbsp;&nbsp;
            &nbsp;<input type="password" id="vmanage_password" name="vmanage_password" class="input_value" required/></h5>
        <h5 style="position: relative;  left: 30px; top: -2px">
            <p id="template_name">Template Name: </p>
            <button class="button" id="execute_vmanage" style="width: 100px" onclick="execute_vmanage()">
                Execute vManage
            </button>
        </h5>
        <br><br>
        <h3 class="w3-text-black"><b>5. Result</b></h3>
        <br>
        <div class="progress_bar"></div>
        <textarea id="output" class="w3-mission w3-card" rows="15" cols="130">{{ output }}
        </textarea>
        <br><br><br>
        <button class="button" id="download_result" style="width: 130px; position: relative; left: 30px">
            Download Result
        </button>
        <a href="/viptela_log">
            <button class="button" style="width: 100px; position: relative; left: 80px">View Log</button>
        </a>
        <br><br><br><br>
        <a href="#" id="scroll"><span></span></a>
    </div>
</body>

{% endblock content%}

{% block javascripts %}

<script type="text/javascript" src="{% static 'js/custom_alert.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/viptela.js' %}"></script>

{% endblock javascripts %}
